
<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="content-script-type" content="text/javascript" />
		<meta http-equiv="content-style-type" content="text/css" />
		<meta http-equiv="content-language" content="nl" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<meta name="author" content="Austin Paul" />	
		<meta name="description" content="I'm Austin Paul a developer of all things software related./>
			
		<title>Austin Paul - Web Developer - Resume</title>
		
				
	
		
		<!-- Bootstrap core CSS -->
		<link href="/css/font.css" rel="stylesheet" />
			<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Font Awesome core CSS -->
		<link href="/css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
		<!-- Custom CSS -->
		<link href="/css/style.css" rel="stylesheet" />
		
		

		<!--
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		-->
		
	</head>
	<body data-spy="scroll" data-target="#navbar-example">

		<div id="top" class="jumbotron">
			<div class="container">
				<h1>Austin Paul</h1>
				<p class="lead">Online Resume</p>
			</div>
			
			<div class="overlay"></div>
			
			<a href="#profile" class="scroll-down">	
				<span class="glyphicon glyphicon-chevron-down"></span>
			</a>
		</div>
		
		<nav class="navbar navbar-default" id="navbar-example" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#profile">Profile</a></li>
					<li><a href="#education">Education</a></li>
					<li><a href="#experiences">Experiences</a></li>
					<li><a href="#abilities">Abilities</a></li>
					<li><a href="#projects">Projects</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		
		<div class="background-white">
			<div id="profile" class="container">
				<h2>Profile</h2>
 <p class="lead"> &ldquo;Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind.&rdquo; <br />- Bernard M. Baruch </p> 

<hr />

<div class="row">
	<div class="col-md-4">
		<h3>About me</h3>
		<p> I started programming my sophomore year of college with the object-oriented programming language Java, and I became quickly enthralled by programming and its potential.  From automating simple computer tasks to predicting future events with prior data sets, I quickly moved from language to language 
		to solve a multitude of problems.  
				</p>
	</div>
	<div class="col-md-4 text-center">
		<img class="img-circle" src="/images/profile.jpg" alt="Austin Paul" width="246" height="246" />
	</div>
	<div class="col-md-4">
		<h3>Details</h3>
		<p>
			<strong>Name:</strong><br />
			Austin Paul<br />
			<strong>Age:</strong><br />
			24 years<br />
			<strong>Location:</strong><br />
			St. Louis, Missouri, United States of America	</p>

</div>
</div>	</div>	
</div>	

<!-- begin education -->		
<div id="education" class="container">
			<h2>Education</h2>
<p class="lead">
	&ldquo;No man who worships education has got the best out of education... Without a gentle contempt for education no man's education is complete.  &rdquo;<br />- Gilbert K. Chesterton
</p>

<hr />


<h3>Education</h3>


<div class="education">

					
	<div class="experience row">
		<div class="col-md-4">
			<h4>University of Missouri - St. Louis</h4>
			<!-- <h5>Business School </h5> -->
			<p class="experience-period">
				Fall 2011				- 
				Fall 2015			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Bachelor of Science in Information Systems, Minor in Accounting </strong>
				<span class="hidden-phone">
					Attended the University of Missouri - St. Louis immediately after graduating from high school with a Chancellor's Scholarship.  Graduated in the fall of 2015 with a GPA of 3.97 and was awarded the highest latin honor, Summa Cum Laude. 	 			</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						St. Louis, Missouri				</span>
				</span>
			</p>
		</div>
	</div>	
	

<div class="experience row">
		<div class="col-md-4">
			<h4>Parkway North</h4>
			<p class="experience-period">
				Fall 2007				- 
				Spring 2011			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>High School</strong>
				<span class="hidden-phone">
				     Attended Parkway North where I played football and baseball all four years.  I obtained first team all-conference and team most valuable player my senior year in baseball and football, respectively. At Parkway North I enjoyed taking business, math, and science courses and graduated in the top 10% of my class academically with a 4.1 GPA.</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						St. Louis, Missouri				</span>
				</span>
			</p>
		</div>
	</div>	


	</div>	
</div>	


		
		
		
<!-- begin experiences -->
<div class="background-white">		
<div id="experiences" class="container">
			<h2>Experiences</h2>
<p class="lead">
	&ldquo;Nothing is a waste of time if you use the experience wisely.&rdquo;<br />- Auguste Rodin
</p>

<hr />


<h3>Programming</h3>


<div class="experiences">

					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Website</h4>
			<p class="experience-period">
				Created October 2016 - Updated Regularly			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Online Resume</strong>
				<span class="hidden-phone">
				<ul>
					<li>Applies bootstrap framework for the design</li>
					<li>Implements JQuery for client-side event handling of the design</li>
					<li>Hosted using the cloud</li>
					<li>Provides a representation of programming skills in more depth</li>
				</ul>
				</span>
				<span class="experience-details">
					<span class="location">
						<a href="#projects">See web projects below!</a>
					</span>
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Website</h4>
			<p class="experience-period">
				March 2016 - June 2017			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>League Predictor</strong>
				<span class="hidden-phone">
				<ul>
					<li>Utilizes a combination of Java and the MEAN stack to provide real-time predictions on a player in a game created by Riot Games called League of legends</li>
					<li>Uses Java for connection to Riot Games' API to gather large amounts of data in order to train the machine to make predictions on new, real-time data (Machine Learning Neural Network)</li>
					<li>Applies the sigmoid function for normalization of the data</li>
					<li>Uses HTML, JQuery, CSS, & Javacsript to present the data to the client (end-user)
					<li>Uses NodeJS to run the web server which invokes the Java file to relay the prediction data</li>
					<li>Implements WebSockets over a single TCP connection to ensure all data is delivered to the end-user without timing-out over an HTTP GET request</li>
					<li>Provides graphs and a concise answer, for the end-user, in terms of the probability of a given player in a game winning</li>
				</ul>
				</span>
				<span class="experience-details">
					<span class="location">
						<a href="#projects">See web projects below!</a>
					</span>
				</span>
			</p>
		</div>
	</div>
	
					
	<div class="experience row">
		<div class="col-md-4">
			<h4>Website</h4>
			<p class="experience-period">
				Septemember 2015 - May 2016			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>ACA Insurance Brokerage</strong>
				<span class="hidden-phone">
				<ul>
					<li>Created for the captstone of my IS major with a randomly assigned team of five members</li>
					<li>Developed with me as the lead, alongside one other developer</li>
					<li>Uses the agile methodology - incorporating biweekly meetings to ensure the project was delivered based on the clients' requests</li>
					<li>Incorporates, entirely, the MEAN stack to provide a front-end marketing website and a back-end complete DBMS with agent dashboards, authentication, authorization, cloud database storage, and more</li>
					<li>Designed and implemented an electronic signature tool using newly created HTML5 canvas tools</li>
					<li>Designed and implemented an aggregator for PDF insurance forms from form data collected and stored in a NoSQL database in the cloud</li>
					<li>Provides a great foundation for ACA in terms of customization and future potential</li> 
					<li>Includes hundreds of pages of documentation for everything ranging from the request for proposal to explanations of every section of the code itself</li>
					<li>Saves ACA countless hours by streamlining their pencil and paper processes</li>
					<li>Presented to the UMSL advisory board on March 11, 2016, as the culmination of "the best project in the class"</li>
				</ul>
				</span>
				<span class="experience-details">
					<span class="location">
						<a href="#projects">See web projects below!</a>
					</span>
				</span>
			</p>
		</div>
	</div>
	
	<div class="experience row">
		<div class="col-md-4">
			<h4>Website</h4>
			<p class="experience-period">
				December 2015			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Security Presentation</strong>
				<span class="hidden-phone">
				<ul>
					<li>Created as a resource for a security presentation on how to be aware and avoid SSID spoofing when connecting to public wireless networks</li>
					<li>Utilizes JQuery parallax scrolling to provide a PowerPoint-like feel for a web presentation</li>
					<li>Emphasizes the importance of understanding HTTP Vs. HTTPS and the certificates associated with them</li>
					<li>Provides a real-time chat room implemented using WebSockets to actively interact with the audience in a non-interruptive fashion</li>
				</ul>
				</span>
				<span class="experience-details">
					<span class="location">
						<a href="#projects">See web projects below!</a>
					</span>
				</span>
			</p>
		</div>
	</div>
	
	<div class="experience row">
		<div class="col-md-4">
			<h4>Java Application</h4>
			<p class="experience-period">
				Fall 2014			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Android Mobile Song Playing App</strong>
				<span class="hidden-phone">
				<ul>
					<li>Created using Android studio, Java, and an Android emulator to provide a simple song playing application for an android device</li>
					<li>Uses XML for the user interface components and Java for the logic to navigate between interfaces and play the songs</li>
				</ul>
				</span>
				<!-- <span class="experience-details">
					<span class="location">
						<a href="#projects">See web projects below!</a>
					</span>
				</span> -->
			</p>
		</div>
	</div>
	
	<div class="experience row">
		<div class="col-md-4">
			<h4>Java Application</h4>
			<p class="experience-period">
				Fall 2014			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>ATM App</strong>
				<span class="hidden-phone">
				<ul>
					<li>Enforces knowledge of objected oriented programming in Java in the way of encapsulation, inheritance, and polymorphism</li>
					<li>Allows a person to create a bank account and deposit, withdraw, and gain interest on their money (interest based on position e.g. undergraduate, graduate, faculty, professor, etc.)</li>
					<li>Stores all data in a .txt document to be saved at program end and to be loaded at run-time</li>
				</ul>
				</span>
				<!-- <span class="experience-details">
					<span class="location">
						<a href="#projects">See web projects below!</a>
					</span>
				</span> -->
			</p>
		</div>
	</div>
	
	<div class="experience row">
		<div class="col-md-4">
			<h4>Java Application</h4>
			<p class="experience-period">
				Spring 2014			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Presentation Grading App</strong>
				<span class="hidden-phone">
				<ul>
					<li>Created using Java Swing components for a simple GUI and uses SQL to update and store the data in an Apache Derby database</li>
					<li>Used to peer grade presentations during finals for the spring semester</li>
				</ul>
				</span>
				<!-- <span class="experience-details">
					<span class="location">
						<a href="#projects">See web projects below!</a>
					</span>
				</span> -->
			</p>
		</div>
	</div>
	
	
</div>
	
	

<hr />

<h3>Work</h3>


<div class="experiences">

					
	<div class="experience row">
		<div class="col-md-4">
			<h4>RPM Music LLC </h4>
			<p class="experience-period">
				Aug 2010				- 
				Present			</p>
		</div>
		<div class="col-md-8">
			<p>
				<strong>Equipment and Sound Technician</strong>
				<span class="hidden-phone">
				<ul>
					<li>Responsible for set-up, sound, and operations for mobile interactive entertainment company</li>
					<li>Assist in approximately 48 private and/or corporate events a year</li>
					<li>Developed a script to automatically backup music data based on date conditions of existing music data</li>
					<li>Successfully ran events in venues nationwide, including California, Illinois, and several other cities in the Midwest region</li>
				</ul>
				</span>
				<span class="experience-details">
					<span class="location">
						<span class="glyphicon glyphicon-map-marker"></span>
						St. Louis, Missouri					</span>
					
										
					<span class="seperator">|</span>
					<span class="link">
						<span class="glyphicon glyphicon-link"></span>
						<a href="http://rpmmusicstl.com" target="_blank">http://rpmmusicstl.com</a>
					</span>
					
										
				</span>
			</p>
		</div>
	</div>
	
					
	
	
	
</div>
	
</div>
</div>


<!--begin abilities -->


		
		<!-- <div class="background-white"> -->
			<div id="abilities" class="container">
				<h2>Abilities</h2>
<p class="lead">
	&ldquo;Learning how to learn is life's most important skill.&rdquo;<br />- Tony Buzan
</p>

<hr />

<h3>Skills</h3>

<div class="row">

		
	<div class="col-md-6">
		<ul class="no-bullets">
		
				
			<li>
				<span class="ability-title">Client-Server Architecture</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">CSS</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">ERD</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">HTML</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">JavaScript</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">JQuery</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">JSON</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">MVC Framework</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">NodeJS</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">NoSQL</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">AutoIt</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Bootstrap Framework</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">EJS</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
			 
			
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			
					
				
			<li>
				<span class="ability-title">Express Framework</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Internet Protocol</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Java</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Object Oriented Programming</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">WebSockets</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">AutoHotkey</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">C++</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Command Line</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">SQL</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Android Development</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">AngularJS</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">XML</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Python</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
		</ul>
	</div>
	
		
</div>


<hr />

<h3>Tools</h3>

<div class="row">
		
	<div class="col-md-6">
		<ul class="no-bullets">
		
				
			<li>
				<span class="ability-title">Agile Development Methodology</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Cloud Computing</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Eclipse IDE</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">MongoDB</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">MS Excel</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">MS PowerPoint</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">MS Word</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
			
			
			<li>
				<span class="ability-title">Netbeans IDE</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
			
			<li>
				<span class="ability-title">Notepad++</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li> 
			
			
			<li>
				<span class="ability-title">WebStorm IDE</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
			
			<li>
				<span class="ability-title">Windows</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
									
				</span>
			</li>
			
			
			<li>
				<span class="ability-title">GitHub</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			
					
				
			<li>
				<span class="ability-title">KompoZer</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Machine Learning</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">MS Visio</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Adobe Dreamweaver</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Adobe Photoshop</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Linux</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">MS Project</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
					
				
			<li>
				<span class="ability-title">Adobe Illustrator</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
			
			<li>
				<span class="ability-title">Android Studio</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
			
			<li>
				<span class="ability-title">MS Access</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
			
			<li>
				<span class="ability-title">MS OneNote</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
			
			
			<li>
				<span class="ability-title">MS Outlook</span>
				<span class="ability-score">
				
								
					<span class="glyphicon glyphicon-star filled"></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
								
					<span class="glyphicon glyphicon-star "></span>
					
									
				</span>
			</li>
					
				
		</ul>
		</div>	
	</div>		

<div class="text-center project-referal">
<p>This project is custom built utilizing a cloud-based platform as a service and the MEAN stack.</p>
<a href="https://github.com/arpdz2/austinpaul" class="btn btn-primary" target="_blank">See project on Github</a>
</div>
	
</div>
<!-- </div> -->
		
<!-- begin project -->
<div class="background-white">				
<div id="projects" class="container">
			<h2>Recent Web Projects</h2>
<p class="lead">
	&ldquo;No matter how good the team or how efficient the methodology, if we’re not solving the right problem, the project fails.&rdquo;<br />- Woody Williams
</p>

<hr />


<div class="row">

		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/images/website_aca.JPG" alt="ACA Insurance Brokerage" />
			
			<figcaption>
				<h3>ACA</h3>
				<p>A back-end DBMS and marketing website for ACA, an insurance brokerage</p>
				<p><strong>Implements:</strong> <br />MongoDB, Express, JavaScript, NodeJS</p>
				<a href="http://polar-wave-6105.herokuapp.com" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>

		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/images/website_shaji.JPG" alt="Shaji Final Project" />
			
			<figcaption>
				<h3>Security Presentation</h3>
				<p>An educational website on SSID Spoofing as part of a final presentation for a security course</p>
				<p><strong>Implements:</strong> <br />JQuery, Express, NodeJS, WebSockets</p>
				<a href="http://shaji-3848.herokuapp.com" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>

		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/images/website_leaguepredictor2.JPG" alt="League of Legends Predicting Tool" />
			
			<figcaption>
				<h3>League Predictor</h3>
				<p>A website for Riot Games utilizing machine learning to try to predict the outcomes of games based on statistical data</p>
				<p><strong>Implements:</strong> <br />Machine Learning, WebSockets, NodeJS</p>
				<a href="http://league-predictor.herokuapp.com" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>

		
	<div class="col-md-6 col-sm-12 col-xs-12">
		<figure class="effect">
			<img src="/images/website_resume.JPG" alt="Online Resume" />
			
			<figcaption>
				<h3>Online Resume</h3>
				<p>Personal Online Resume</p>
				<p><strong>Implements:</strong> <br />JQuery, Express, NodeJS, Bootstrap</p>
				<a href="http://austinpaul.herokuapp.com" target="_blank">View more</a>
				<span class="icon">
					<span class="glyphicon glyphicon-new-window"></span>
				</span>
			</figcaption> 
		</figure>
	</div>

		
</div>
	
</div>
</div>
		
<!-- begin contact -->		
<div class="background-gray">
<div id="contact" class="container">
				<h2>Contact</h2>
<p class="lead">
	&ldquo;Networking is marketing. Marketing yourself, marketing your uniqueness, marketing what you stand for.&rdquo;<br />- Christine Comaford-Lynch
</p>

<hr />

<div class="row">
	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<a href="http://github.com/arpdz2" target="_blank">
					<span class="fa fa-github" aria-hidden="true"></span>
					http://github.com/arpdz2			</a>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="no-bullets">
			<li>
				<a href="mailto:arpdz2@mail.umsl.edu?Subject=Austin%20Paul%20Resume" target="_top">
				<span class="fa fa-envelope" aria-hidden="true">
				arpdz2@mail.umsl.edu</a> 
				<!-- <a href=""> arpdz2@umsl.edu </a> -->
			</li>
		</ul>
	</div>
</div>

<hr />

<div class="text-center">

</div>
</div>
</div>
		
		<div class="modal fade" id="upgrade-dialog" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Your browser is out of date</h4>
			</div>
			<div class="modal-body">
				<p>To get the best possible experience using our site we recommend that you upgrade to a modern web browser. To download a newer web browser click on the Upgrade button.</p>
			</div>
			<div class="modal-footer">
				<a href="http://browsehappy.com/" target="_blank" class="btn btn-primary">Upgrade</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->		
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	</body>
</html>